<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
       default-lazy-init="true">

  <bean class="org.springframework.orm.hibernate4.HibernateExceptionTranslator" />
  <bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />

  <!--  Entity Interceptor bean - sets audit fields for each persistent object -->
  <!-- <bean id="entityInterceptor" class="org.safehaus.dao.hibernate.JarvisEntityInterceptor">
     <property name="jiraManager" ref="jiraManager" />
   </bean>-->

<!--  <bean id="jiraClient" class="org.safehaus.service.impl.JiraClientImpl" destroy-method="close">
    <constructor-arg value="http://test-jira.critical-factor.com" />
    <constructor-arg value="jirabot" />
    <constructor-arg value="jira135pwd" />
  </bean>-->

  <bean id="jiraManager" class="org.safehaus.service.impl.JiraManagerImpl">
<!--    <property name="jiraClient" ref="jiraClient" />-->
    <!--<property name="url" value="http://test-jira.critical-factor.com"/>-->
    <!--    <property name="transitionResolvedId" value="${transition.resolved}" />
        <property name="transitionInprogressId" value="${transition.inprogress}" />-->
  </bean>

  <!-- Hibernate SessionFactory -->
  <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean" destroy-method="destroy">
    <!--   <property name="entityInterceptor" ref="entityInterceptor" />-->

    <property name="dataSource" ref="dataSource" />
    <property name="configLocation" value="classpath:hibernate.cfg.xml" />
    <property name="hibernateProperties">
      <props>
        <prop key="hibernate.dialect">${hibernate.dialect}</prop>
        <prop key="hibernate.query.substitutions">true 'Y', false 'N'</prop>
        <prop key="hibernate.cache.use_second_level_cache">true</prop>
        <prop key="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</prop>
        <!-- Hibernate Search index directory -->
        <prop key="hibernate.search.default.indexBase">${app.search.index.basedir}</prop>
      </props>
      <!-- Turn batching off for better error messages under PostgreSQL -->
      <!-- hibernate.jdbc.batch_size=0 -->
    </property>

  </bean>

  <!-- Transaction manager for a single Hibernate SessionFactory (alternative to JTA) -->
  <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
    <property name="sessionFactory" ref="sessionFactory" />
  </bean>

  <!-- Activates scanning of @Autowired -->
  <context:annotation-config />

  <!--<context:spring-configured/>-->

  <!-- Activates scanning of @Repository -->
  <context:component-scan base-package="org.safehaus" />

</beans>
