<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-lazy-init="true">

    <!-- Jira task -->
    <bean name="jiraTask" class="org.safehaus.service.JiraTask">
        <!--<property name="projectManager" ref="projectManager"/>-->
        <!--<property name="issueManager" ref="issueManager"/>-->
    </bean>

    <!-- Jira job -->
    <bean name="jiraJob"
          class="org.springframework.scheduling.quartz.JobDetailFactoryBean">

        <property name="jobClass" value="org.safehaus.service.JiraQuartzJob" />

        <property name="jobDataAsMap">
            <map>
                <entry key="jiraTask" value-ref="jiraTask" />
            </map>
        </property>
    </bean>

    <!-- Cron Trigger, run every 10 seconds -->
    <bean id="cronTrigger"
          class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">

        <property name="jobDetail" ref="jiraJob" />
        <property name="cronExpression" value="0/30 * * * * ?" />

    </bean>

    <!-- Scheduler -->
    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="jobDetails">
            <list>
                <ref bean="jiraJob" />
            </list>
        </property>

        <property name="triggers">
            <list>
                <ref bean="cronTrigger" />
            </list>
        </property>
    </bean>


    <bean name="analysisService" class="org.safehaus.service.AnalysisService">
        <constructor-arg value="${reset.jira}" />
        <constructor-arg value="${reset.stash}" />
        <constructor-arg value="${reset.sonar}" />
        <constructor-arg value="${reset.confluence}" />
    </bean>


    <bean name="analysisJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="jobClass" value="org.safehaus.service.AnalysisServiceQuartzJob" />
        <property name="jobDataAsMap">
            <map>
                <entry key="analysisService" value-ref="analysisService" />
            </map>
        </property>
    </bean>

    <bean id="cronTrigger2" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="analysisJob" />
        <property name="cronExpression" value="* 30 * * * ?" />
    </bean>

    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="jobDetails">
            <list>
                <ref bean="analysisJob" />
            </list>
        </property>
        <!---->
        <property name="triggers">
            <list>
                <ref bean="cronTrigger2" />
            </list>
        </property>
    </bean>
</beans>