
<div ng-controller="TimelineCtrl as timelineCtrl">
	<header class="b-no-info-header">
		<!--Left-sidebar begin -->
		<div class="left-nav" id="wrapper-left">
			<!--Toggle-button-collapse-->
			<div class="toggle-left">
				<a id="menu-toggle" href="#"><img src="assets/img/icon-collapse-in.svg" alt="" width="5px"
																					class="icon-collapse"/></a>
			</div>
			<div class="profile">
				<a href="#" class="circle-avatar"><img src="assets/img/img-profile-plane.svg"></a>
				<span class="show-text">
					<a href="#" style="margin-top: 10px">PROFILE</a>
					<a href="#">LOG OUT</a>
				</span>
			</div>
			<div class="services-buttons">
				<ul>
					<li>
						<a href="/#/">
							<img src="assets/img/icon-home.png" alt="" class="icons-service"/><br>
							<span class="show-text">HOME</span>
						</a>
					</li>
					<li class="active">
						<a href="https://jira.{{ timelineCtrl.baseUrl }}" target="_blank">
							<img src="assets/img/icon-jira.png" alt="" class="icons-service"/><br>
							<span class="show-text">JIRA</span>
						</a>
					</li>
					<li>
						<a href="https://confluence.{{ timelineCtrl.baseUrl }}" target="_blank">
							<img src="assets/img/icon-confluence.png" alt="" class="icons-service"/><br>
							<span class="show-text">CONFLUENCE</span>
						</a>
					</li>
					<li>
						<a href="https://stash.{{ timelineCtrl.baseUrl }}" target="_blank">
							<img src="assets/img/icon-stash.png" alt="" class="icons-service"/><br>
							<span class="show-text">STASH</span>
						</a>
					</li>
					<li>
						<a href="https://hipchat.{{ timelineCtrl.baseUrl }}" target="_blank">
							<img src="assets/img/icon-hipchat.png" alt="" class="icons-service"/><br>
							<span class="show-text">HIPCHAT</span>
						</a>
					</li>
					<li>
						<a href="https://zibra.{{ timelineCtrl.baseUrl }}" target="_blank">
							<img src="assets/img/icon-zimbra.png" alt="" class="icons-service"/><br>
							<span class="show-text">ZIBRA</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<!--Left-sidebar end -->

		<!--Right sidebar begin-->
		<div class="right-nav">
			<!--Toggle-button-collapse-->
			<div class="toggle-right">
				<a class="menu-toggle-right" href="#">
					<img src="assets/img/icon-collapse-out.svg" alt="" height="8px" class="icon-collapse-right"/>
					<img src="assets/img/icon-collapse-info.svg" alt="" height="8px" class="hide-icon"/>
				</a>
			</div>
			<tabset>
				<tab heading="Description">
					<!--Structure canvas small-view @todo-->
					<!--<div class="canvas-small"></div>-->

					<div>
                        <h1>PROGRESS</h1>

                        <div class="box">
                            <div class="legend" style="margin-bottom: 30px">
                                <div class="open">
                                    <div class="marker blue"></div>
                                    OPEN
                                </div>
                                <div class="inprogress">
                                    <div class="marker yellow"></div>
                                    IN PROGRESS
                                </div>
                                <div class="open">
                                    <div class="marker green"></div>
                                    DONE
                                </div>
                            </div>
                            <div class="progress">
                                <div ng-if="timelineCtrl.activeNodeData.openStatus > 0" class="progress-bar progress-bar-blue"
                                     style="width: {{timelineCtrl.activeNodeData.openStatus}}%; position: relative">
                                    <span>{{timelineCtrl.activeNodeData.openStatus}}%</span>
                                    <span style="position: absolute; top: 10px; left:8px">
										{{timelineCtrl.activeNodeData.openStatusHours}} h (est.)
									</span>
                                </div>
                                <div ng-if="timelineCtrl.activeNodeData.inProgressStatus > 0" class="progress-bar progress-bar-yellow"
                                     style="width: {{timelineCtrl.activeNodeData.inProgressStatus}}%; position: relative">
                                    <span>{{timelineCtrl.activeNodeData.inProgressStatus}}%</span>
                                    <span style="position: absolute; top: 10px; left:8px">
										{{timelineCtrl.activeNodeData.inProgressStatusHours}} h (est.)
									</span>
                                </div>
                                <div ng-if="timelineCtrl.activeNodeData.doneStatus > 0" class="progress-bar progress-bar-green"
                                     style="width: {{timelineCtrl.activeNodeData.doneStatus}}%; position: relative">
                                    <span>{{timelineCtrl.activeNodeData.doneStatus}}%</span>
                                    <span style="position: absolute; top: 10px; left:8px">
										{{timelineCtrl.activeNodeData.inProgressStatusHours}} h (logged)
									</span>
                                </div>
                            </div>
                            <div class="text-center" style="margin-top: 30px">
                                STORY POINTS
                            </div>
                            <div class="story text-center">
                                <table>
                                    <tr>
                                        <td>
                                            <div class="marker blue"></div>
                                        </td>
                                        <td>
                                            <div class="marker yellow"></div>
                                        </td>
                                        <td>
                                            <div class="marker green"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>{{ timelineCtrl.activeNodeData.storyPoints.open }}</td>
                                        <td>{{ timelineCtrl.activeNodeData.storyPoints.inProgress }}</td>
                                        <td>{{ timelineCtrl.activeNodeData.storyPoints.done }}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="requirements text-center">
                                REQUIREMENTS
                                <div class="progress" style="margin-top: 25px">
                                    <div class="progress-bar progress-bar-blue" style="width: {{ timelineCtrl.activeNodeData.requirements.opened }}%">
										<span ng-if="vm.activeNodeData.requirements.opened > 0">
											{{ vm.activeNodeData.requirements.opened }}%
										</span>
                                    </div>
                                    <div class="progress-bar progress-bar-green" style="width: {{ timelineCtrl.activeNodeData.requirements.closed }}%">
										<span ng-if="vm.activeNodeData.requirements.closed > 0">
											{{ vm.activeNodeData.requirements.closed }}%
										</span>
                                    </div>
                                </div>
                                DUE DATE<br>12 Oct 2015
                            </div>
                        </div>
                    </div>

					<div class="chart-buttons">
						<a href="" style="margin: 5px;">REQUIREMENTS</a>
						<a href="" style="margin: 5px;">PLAYBOOK</a>
						<a href="" style="margin: 5px;">DESIGN</a>
					</div>
					<div>
						<h1>DESCRIPTION</h1>

						<div class="box">
							<div class="description-text">
								{{ timelineCtrl.description }}
							</div>
							<div class="button text-center"><a href="#">MORE</a></div>
						</div>
					</div>
				</tab>
				<tab heading="Filters">
					<div>
						<div class="box" style="padding-right: 0">
							<div class="filters-row">
								STORY
								<div class="btn-group" style="margin-left: 30px;">
									<label>
										<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
											Select story
											<span class="caret" style="margin-left: 80px;"></span>
										</button>
										<ul class="dropdown-menu" role="menu" style="min-width: 170px; margin-top: -4px">
											<li ng-repeat="story in timelineCtrl.storyList">
												<a ng-href="/#/timeline/{{ story.storyKey }}">{{ story.storyKey }}</a>
											</li>
										</ul>
									</label>
								</div>
							</div>
							<div class="filters-row">
								TEAM MEMBERS
								<!--
								<div class="b-thumb-checker">
									<input type="checkbox" class="check" id="one" name="check_one" checked="">
									<label for="one" class="b-thumb-checker__label">
										<div class="b-thumb-checker__thumb"></div>
									</label>
								</div>
								-->
								<div class="btn-group" style="margin-left: 19px;">
									<select name="members" class="b-timline-filter__select">
										<option value="">Select member</option>
										<option ng-repeat="member in timelineCtrl.members" value="{{ member }}">
											{{ member }}
										</option>
									</select>
								</div>
							</div>
							<div class="filters-row">
								ISSUE
								<div class="btn-group" style="margin-left: 42px;">
									<select name="members" class="b-timline-filter__select" style="width: 157px;">
										<option value="">Issue type</option>
										<option ng-repeat="issyeType in timelineCtrl.issueTypes" value="{{ issyeType }}">
											{{ issyeType }}
										</option>
									</select>
								</div>
							</div>
							<div class="filters-row">
								EVENT
								<div class="btn-group" style="margin-left: 32px;">
									<select name="event_type" class="b-timline-filter__select" style="width: 160px;">
										<option value="">Event type</option>
										<option value="research">
											Research
										</option>
									</select>
								</div>
								<div class="filters-row text-center">
									BY DATE RANGE<br>
									<label for="datepicker-style"></label>
									<input type="text" name="daterange" value="From - To" id="datepicker-style" style="text-align: center"/>
								</div>
							</div>
						</div>
					</div>
					<div>
						<h1>LIST OF ISSUES</h1>

						<div class="box story-details" style="padding-left: 0">
							<ul>
								<li ng-repeat="x in timelineCtrl.FILTERED_DATA">
									<a ng-href="https://jira.subutai.io/issue/{{ x.issueKey }}">{{ x.issueKey }}</a>
								</li>
							</ul>

						</div>
					</div>
				</tab>
			</tabset>
		</div>
		<!--Right-sidebar end -->
	</header>

	<!--New pop-up-->
	<div class="hover-small">some text need to change</div>

	<!--||||||POP-UP MODAL BEGIN||||||-->
	<div id="popup">
		<div class="b-popop-angle b-popop-angle_left-top"></div>
		<div class="b-popop-angle b-popop-angle_left-bottom"></div>
		<div class="b-popop-angle b-popop-angle_right-top"></div>
		<div class="b-popop-angle b-popop-angle_right-bottom"></div>
		<div class="b-popup-text"></div>
	</div>
	<!--||||||POP-UP MODAL END||||||-->

	<!-- Issue line popup -->
	<div class="b-issue-popup">
		<div class="b-issue-popup__close"></div>
		<table>
			<tr>
				<td style="width: 40px">
					<img src="assets/img/
					icon-task.svg" alt="" height="28px"/>
				</td>
				<td style="font-size: 12px"> <span id="js-issue-projectKey">Jarvis</span> / <span id="js-issue-issueKey">KMS-272</span><br>
					<span style="font-size: 15px; opacity: 0.6;" id="js-issue-summary">Implement 3d Timeline animations</span>
				</td>
			</tr>
		</table>
		<div style="margin-top: 25px" id="js-issue-description" class="js-text-to-span">
			<div style="width: 40px; display: inline-block"><img src="assets/img/icon-01.svg" alt="" height="28px"/></div>
			<span style="opacity: 0.6;">Pull all jira events, for specified time-frame with records limit. Need to implement animations... </span>
		</div>
		<div style="margin-top: 25px">
			<div style="width: 45%; display: inline-block" id="js-issue-status" class="js-text-to-span">
				<div style="width: 40px; display: inline-block"><img src="assets/img/icon-02.svg" alt="" height="28px"/>
				</div>
				<span style="opacity: 0.6;">Open</span>
			</div>
			<div style="width: 45%; display: inline-block" id="js-issue-reporterName" class="js-text-to-span">
				<div style="width: 40px; display: inline-block"><img src="assets/img/icon-06.svg" alt="" height="28px"/>
				</div>
				<span style="opacity: 0.6;">Ilarion Stus </span>
			</div>
		</div>
		<div style="margin-top: 10px">
			<div style="width: 45%; display: inline-block">
				<div style="width: 40px; display: inline-block"><img src="assets/img/icon-03.svg" alt="" height="28px"/>
				</div>
				<span style="opacity: 0.6;">uiux</span>
			</div>
			<div style="width: 45%; display: inline-block" id="js-issue-assigneeName" class="js-text-to-span">
				<div style="width: 40px; display: inline-block"><img src="assets/img/icon-07.svg" alt="" height="28px"/>
				</div>
				<span style="opacity: 0.6;">Ilarion Stus </span>
			</div>
		</div>
		<div style="margin-top: 10px">
			<div style="width: 45%; display: inline-block">
				<div style="width: 40px; display: inline-block"><img src="assets/img/icon-04.svg" alt="" height="28px"/>
				</div>
				<span style="opacity: 0.6;">uiux</span>
			</div>
			<div style="width: 45%; display: inline-block" id="js-issue-originalEstimateMinutes" class="js-text-to-span">
				<div style="width: 40px; display: inline-block"><img src="assets/img/icon-08.svg" alt="" height="28px"/>
				</div>
				<span style="opacity: 0.6;">3d</span>
			</div>
		</div>
		<div style="margin-top: 10px">
			<div style="width: 45%; display: inline-block">
				<div style="width: 40px; display: inline-block"><img src="assets/img/icon-05.svg" alt="" height="28px"/>
				</div>
				<span style="opacity: 0.6;">uiux</span>
			</div>
			<div style="width: 45%; display: inline-block">
				<div style="width: 40px; display: inline-block"><img src="assets/img/icon-09.svg" alt="" height="28px"/>
				</div>
				<span style="opacity: 0.6;">JarvisSprint #8</span>
			</div>
		</div>
		<!--
		<div style="margin-top: 25px">
			<div style="width: 40px; display: inline-block"><img src="assets/img/icon-10.svg" alt="" height="28px"/></div>
			<span style="opacity: 0.6;">Time Spent:	3 hours</span>
			<span style="opacity: 0.6; display: block; margin-left: 40px">To make multi tag filtering in jekyll requires to generate new pages which are
				permutation of all tags - it is complex and also consumes generation time.</span>
		</div>
		<div style="margin-top: 25px">
			<div style="width: 40px; display: inline-block"><img src="assets/img/icon-11.svg" alt="" height="28px"/></div>
			<span style="opacity: 0.6;">SS-3330 prepared database tables design for resource host connect mechanism</span>
		</div>
		<div style="margin-top: 25px">
			<div style="width: 40px; display: inline-block"><img src="assets/img/icon-12.svg" alt="" height="28px"/></div>
			<span style="opacity: 0.6;">is blocked by  KMS-177 Implement UI template</span>
		</div>
		-->
		<div id="js-issue-changelog-list" style="border-top: 1px solid #00142d; margin-top: 25px;"></div>
	</div>
	<!-- END Issue line popup -->

	<div id="index_tip" class="hand_parts" style="position:fixed;"></div>
	<div id="index_mid" class="hand_parts" style="position:fixed;"></div>
	<div id="index_bot" class="hand_parts" style="position:fixed;"></div>

	<div id="middle_tip" class="hand_parts" style="position:fixed;"></div>
	<div id="middle_mid" class="hand_parts" style="position:fixed;"></div>
	<div id="middle_bot" class="hand_parts" style="position:fixed;"></div>

	<div id="ring_tip" class="hand_parts" style="position:fixed;"></div>
	<div id="ring_mid" class="hand_parts" style="position:fixed;"></div>
	<div id="ring_bot" class="hand_parts" style="position:fixed;"></div>

	<div id="pinky_tip" class="hand_parts" style="position:fixed;"></div>
	<div id="pinky_mid" class="hand_parts" style="position:fixed;"></div>
	<div id="pinky_bot" class="hand_parts" style="position:fixed;"></div>

	<div id="thumb_tip" class="hand_parts" style="position:fixed;"></div>
	<div id="thumb_bot" class="hand_parts" style="position:fixed;"></div>


	<div id="palm" style="position:fixed;"></div>

	<canvas id="renderCanvas"></canvas>
</div>
