@import url(https://fonts.googleapis.com/css?family=Lato:400,700,700italic,400italic);

/*-GENERAL-*/

html, body {
    background: #0a2341;
    color: #fff;
    font-family: 'Lato', sans-serif;
    overflow: hidden;
}

/*.container-fluid .container {
    height: 100%;
    padding-right: 0;
    padding-left: 0;
}*/

.left-nav {
    z-index: 999;
    position: fixed;
    width: 110px;
    height: 100%;
    background: #0a2341;
    transition: linear 0.25s;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);

}

.active-left {
    width: 50px;
}

.active-left a {
    display: none;
}

/*Profile begin*/
.profile {
    background: #001937;
    padding-bottom: 40px;
    padding-top: 40px;
}

.profile a {
    text-align: center;
    display: block;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
}

.profile a:hover, a:focus {

}

/*Avatar*/
.circle-avatar {
    margin-left: auto;
    margin-right: auto;
    height: 45px;
    width: 45px;
    line-height: 0; /* remove line-height */
    display: inline-block; /* circle wraps image */
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 50%; /* relative value */
    /*box-shadow: 0px 0px 5px rgba(0,0,0,0.4);*/
    transition: linear 0.25s;
}

.active-avatar {
    height: 35px;
    width: 35px;
}

.stream-avatar-icon {
    height: 35px;
    width: 35px;
}

.circle-avatar img {
    border-radius: 50%;
    /* relative value for
                     adjustable image size */
}

.circle-avatar:hover {
    transition: ease-out 0.2s;
    border: 2px solid rgba(255, 255, 255, 0.4);
    -webkit-transition: ease-out 0.2s;
}

a.circle-avatar {
    color: transparent;
}

.hide-text {
    display: none;
    transition: ease-out 0.2s;
}

/*Profile end*/

/*Services buttons begin*/
.services-buttons ul {
    list-style: none;
    padding-left: inherit;
}

.services-buttons li a {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    border-left: 5px solid #001937;
    border-bottom: 1px solid #001937;
    transition: linear 0.25s;
}

.services-buttons li a:hover {
    text-decoration: none;
    color: #fff;
    border-left: 5px solid #c1272d;
    background: #142d4b;
    transition: linear 0.25s;

}

.services-buttons li a:active,
.services-buttons li a:focus {
    text-decoration: none;
    border-left: 5px solid #c1272d;
    transition: linear 0.25s;

}

.icons-service {
    height: auto;
    transition: linear 0.25s;
}

.active-icon {
    height: 18px;
    transition: linear 0.25s;
}

/*Services buttons end*/

/*-RIGHT SIDEBAR-*/
.si-icons-right span {
    display: inline-block;
    margin-top: -15px;
    margin-left: -15px;
    height: 50px;
    cursor: pointer;
    padding: 10px 140px;
    background: #c1272d no-repeat center center;
    transition: linear 0.25s;
}

.si-wide {
    width: 302px !important;
}

.short {
    width: 50px !important;
    padding: 10px 12px !important;
}

.wrapper-right {
    display: block;
}

.active-right {
    display: none;
}

.right-nav {
    z-index: 999;
    position: fixed;
    right: 0;
    width: 302px;
    height: 100%;
    background: #001937;
    font-size: 12px;
    text-transform: uppercase;
    /*transition: linear 0.25s;*/
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

.active-rnav {
    height: 100%;
    /*overflow: hidden;*/
    width: 50px;
    background: none;
    box-shadow: none;
}

.right-nav h1 {
    font-size: 14px;
}

.right-nav .box {
    margin-bottom: 20px;
    background-color: #0a2341;
    border: 1px solid #00142d;
    border-radius: 2px;
    padding: 15px 15px 15px 15px;
}

.right-nav .box td {
    width: 110px;
}

.right-nav .box td + td {
    border-left: 1px solid #00142d;
}

.right-nav .box .numbers {
    font-weight: 700;
    font-size: 21px;
}

/*Scroll style*/
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #000f2d;
    border-radius: 10px;
}

/*::-webkit-scrollbar-track-piece {
    height: 30px;
}*/
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #142d4b;
}

/*Releasing*/
.versions {
    position: relative;
}
.versions .bg {
    display: inline-block;
    margin-top: 40px;
    margin-left: 7px;
    margin-right: 7px;
    position: relative;
    width: 21px;
    height: 21px;
    background-color: #001937;
    border-radius: 50%;

}
.versions .bg span {
    position: absolute;
    bottom: 30px;
    left: 0;
}
.past {
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #666666;
    background: -moz-linear-gradient(left, #666666 0%, #b3b3b3 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #666666), color-stop(100%, #b3b3b3));
    background: -webkit-linear-gradient(left, #666666 0%, #b3b3b3 100%);
    background: -o-linear-gradient(left, #666666 0%, #b3b3b3 100%);
    background: -ms-linear-gradient(left, #666666 0%, #b3b3b3 100%);
    background: linear-gradient(to right, #666666 0%, #b3b3b3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#b3b3b3', GradientType=1);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .5);
}
.now {
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
    width: 7px;
    height: 7px;
    background: #00ffff;
    border-radius: 50%;
    box-shadow: 0 0 5px #00ffff;
}


.versions .line {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 200px;
    height: 9px;
    background-color: #001937;

}

/*.radio {
    vertical-align: top;
    width: 17px;
    height: 17px;
    margin: 0 3px 0 0;
}

.radio + label {
    cursor: pointer;
}

.radio:not(checked) {
    position: absolute;
    opacity: 0;
}

.radio:not(checked) + label {
    position: relative;
    padding: 0 0 30px 0;
    margin-top: 10px;
    margin-left: 9px;
    margin-right: 9px;
}

.radio:not(checked) + label:before {
    content: '';
    position: absolute;
    top: 20px;
    left: 0;
    width: 21px;
    height: 21px;
    border: 1px solid #001937;
    border-radius: 50%;
    background: #001937;
}

.radio:not(checked) + label:after {
    content: '';
    position: absolute;
    top: 27px;
    left: 7px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #666666; /!* Old browsers *!/
    background: -moz-linear-gradient(left, #666666 0%, #b3b3b3 100%); /!* FF3.6+ *!/
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #666666), color-stop(100%, #b3b3b3)); /!* Chrome,Safari4+ *!/
    background: -webkit-linear-gradient(left, #666666 0%, #b3b3b3 100%); /!* Chrome10+,Safari5.1+ *!/
    background: -o-linear-gradient(left, #666666 0%, #b3b3b3 100%); /!* Opera 11.10+ *!/
    background: -ms-linear-gradient(left, #666666 0%, #b3b3b3 100%); /!* IE10+ *!/
    background: linear-gradient(to right, #666666 0%, #b3b3b3 100%); /!* W3C *!/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#b3b3b3', GradientType=1); /!* IE6-9 *!/
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .5);
    opacity: 1;
    transition: all .2s;
}

.radio:checked + label:after {
    background: #00ffff;
    box-shadow: 0 0 5px #00ffff;
    opacity: 1;
}

.radio:focus + label:before {
    box-shadow: 0 0 0 3px rgba(193, 39, 45, .5);
}*/

/*Total score*/
.score {
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    background: #001937;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 700;
}

.excellent {
    box-shadow: 0 0 5px #00ff6c;
}

.good {
    box-shadow: 0 0 5px #ffff00;
}

.bad {
    box-shadow: 0 0 5px #c1272d;
}

/*Quality*/
.diagram {
    position: relative;
    width: 100%;
    height: 225px;
    margin-bottom: 25px;
}

.circle-diagram {
    position: absolute;
    left: 6px;
}

.mask-big {
    position: absolute;
    background: url("../assets/img/mask-diagram.svg");
    height: 215px;
    width: 215px;
}

.circle-divider {
    position: absolute;
    left: 22px;
    top: 22px;
    padding-top: 5px;
    text-align: center;
    display: inline-block;
    width: 170px;
    height: 170px;
    border: 1px solid #001937;
    border-radius: 80%;
}

.circle-diagram-small {
    position: absolute;
    display: inline-block;
    top: 7px;
    left: 7px;
}

.mask-small {
    position: absolute;
    background: url("../assets/img/mask-diagram-small.svg");
    height: 156px;
    width: 156px;
}

.circle-sonar {
    position: absolute;
    display: inline-block;
    left: 13px;
    top: 13px;
    width: 128px;
    height: 128px;
    border: 3px solid #001937;
    border-radius: 80%;
}

.circle-unit {
    position: absolute;
    left: 5px;
    top: 5px;
    padding-top: 5px;
    text-align: center;
    display: inline-block;
    width: 111px;
    height: 111px;
    border: 1px solid #001937;
    border-radius: 80%;
}

.border-red {
    border-color: #ff0000;
}

.border-yellow {
    border-color: #ffff00;
}

.border-green {
    border-color: #00ff6c;
}

.box .diagram h1 {
    top: 62px;
    left: 62px;
    font-size: 14px;
}

.box .diagram .big {
    font-size: 25px;
    font-weight: 700;
}

/*Progress*/
.legend .open {
    display: inline-block;
    width: 25%;
}

.legend .inprogress {
    display: inline-block;
    width: 45%;
}

.box .progress {
    height: 17px;
    margin-top: 15px;
    margin-bottom: 15px;
    overflow: visible;
    background-color: #00142d;
    border-radius: 15px;
    border: 5px solid #001937;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

.box .progress span {
    position: relative;
    top: -25px;
    font-size: 10px;
    line-height: 12px;
}

.box .progress-text td {
    width: 140px;
}

.box .progress-text td + td {
    border-left: none;
}

.progress-bar-blue {
    border-right: 1px solid #001937;
    border-left: 1px solid #001937;
    background-color: #00ffff;
}

.progress-bar-yellow {
    border-right: 1px solid #001937;
    border-left: 1px solid #001937;
    background-color: #fcee21;
}

.progress-bar-green {
    border-right: 1px solid #001937;
    border-left: 1px solid #001937;
    background-color: #00ff6c;
}

.progress-bar-red {
    border-right: 1px solid #001937;
    border-left: 1px solid #001937;
    background-color: #c1272d;
}

.box .story table {
    margin-left: 70px;
}

.box .story td {
    width: 30px;
}

.box .story td + td {
    border-left: none;
}

/*Description*/

.description-text {
    overflow: hidden;
    max-height: 164px;
    text-transform: none;
}

.box .button a {
    display: block;
    margin: 10px auto auto;
    padding: 5px 10px;
    background-color: #001937;
    border: 1px solid #00142d;
    border-radius: 2px;
    color: #fff;
    width: 60px;
}

.box .button a:hover, a:focus {
    text-decoration: none;
    background-color: #00142d;
}

.requirements {
    border-top: 1px solid #00142d;
    margin-top: 30px;
    padding-top: 30px;
}

/*Story details*/
.story-details {
    overflow: auto;
    max-height: 315px;
}

.story-details-title {
    padding-bottom: 15px;
    border-bottom: 1px solid #001937;
}

.story-details ul {
    list-style: none;
    padding-left: inherit;
}

.story-details li a {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    display: block;
    text-decoration: underline;
    font-size: 12px;
    color: #fff;
    border-bottom: 1px solid #001937;

}

.story-details li a:hover {
    text-decoration: underline;
    color: #fff;
    background: #142d4b;
}

.story-details li a:active,
.story-details li a:focus {
    text-decoration: none;
    background: #142d4b;
}

/*Filter*/
.box .filters-row {
    margin-top: 10px;
}

.box .btn {
    padding: 4px 10px;
}

.box .btn-default {
    background-color: #001937;
    border: none;
    color: #fff;
    font-size: 12px;
    font-style: italic;
    height: auto;
    margin: 0 0 0 0;
    font-family: inherit;
}

.box .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover {
    background-color: #001937;
    color: #fff;
}

.box .btn-group .dropdown-menu {
    font-size: 12px;
    background-color: #001937;
    color: #fff;
}

.box .btn-group .dropdown-menu li a {
    color: #fff;
    font-size: 12px;
    font-style: italic;
    text-transform: none;
}

.box .btn-group .dropdown-menu li a:hover {
    background-color: #0a2341;
    color: #fff;
}

/*=======Toggle BEGIN========*/
::selection {
    background: transparent;
}

P {
    text-align: center;
}

#content {
    right: 166px;
    top: 10px;
    display: inline-flex;
}

/* 1 -Hide the inputs */
input[type=checkbox] {
    display: none;
}

/* 2 -Prepare labels */
.b-thumb-checker {
    display: inline-flex;
}

.b-thumb-checker__thumb {
    content: '';
    height: 10px;
    width: 10px;
    display: block;
    float: left;
    padding: 0;
    margin: -3px 1px;
    /*border-radius*/
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #fff;
    /*
    box-shadow:0 0 2px rgba(0,0,0,1),0 0 10px rgba(0,0,0,.2), -5px 5px 10px rgba(0,0,0,.2), -10px 10px 10px rgba(0,0,0,.1), 0 0 2px rgba(0,0,0,.6);
    */
    position: absolute;
    z-index: 1;
}

.b-thumb-checker__label {
    display: inline-block;
    position: relative;
    width: 26px;
    height: 14px;
    /* margin: 40px 0; */
    padding: 4px 0;
    /* background: #232629; */
    border-radius: 20px;
    border: 1px solid;
    /* box-shadow: 0 1px 0 rgba(255,255,255,.1), inset 0 4px 5px rgba(0,0,0,.4),inset 0 0px 1px #000; */
}

.b-thumb-checker__label:before {
    content: '';
    display: block;
    position: absolute;
    margin: 1px 4px;
    width: 3px;
    height: 3px;
    background: -webkit-radial-gradient(#31bf49, #39c252);
    border-radius: 50%;
    box-shadow: #000 0 0 1px, inset #000 0 0 1px, inset #000 0 0 1px, inset #460 0 -1px 1px, inset #fff 0 1px 1px, inset rgba(255, 255, 255, .4) 0 3px 4px, inset rgba(255, 255, 255, .6) 0 -2px 4px, 0 0 5px #39c252, 0 0 15px #39c252;

}

.b-thumb-checker__label:after {
    content: '';
    display: block;
    margin: 1px 17px;
    width: 3px;
    height: 3px;
    background: -webkit-radial-gradient(#f00, #e04145);
    border-radius: 50%;
    box-shadow: #000 0 0 1px, inset #000 0 0 1px, inset #000 0 0 1px, inset #000 0 0 1px, inset #e04145 0 -1px 1px, inset #fff 0 1px 1px, inset rgba(255, 255, 255, .4) 0 3px 4px, inset rgba(255, 255, 255, .6) 0 -2px 4px, 0 0 5px #e04145, 0 0 15px #e04145;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Now, make it move */
.b-thumb-checker input:checked ~ label .b-thumb-checker__thumb {
    margin: -3px 13px;;
}

.b-thumb-checker__thumb {
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
}

/*=======Toggle end========*/

/*Datepicker*/

#datepicker-style {
    width: 70%;
    margin-top: 10px;
    padding: 6px 10px 6px 10px;
    font-style: italic;
    font-size: 12px;
    color: #fff;
    background-color: #001937;
    border: none;
    border-radius: 5px;
}

.daterangepicker {
    background: rgba(0, 9, 36, 0.8) !important;
    left: 624px !important;
}

.daterangepicker.opensright:before {
    left: 329px !important;
    background: rgba(0, 9, 36, 0.8) !important;
}

.daterangepicker.opensright:after {
    left: 329px !important;
    background: rgba(0, 9, 36, 0.8) !important;
    border-bottom: #fff !important;
}

.daterangepicker .input-mini {
    color: #fff !important;
    background: rgba(0, 9, 36, 0.8) !important;
}

.daterangepicker .input-mini.active {
    border: 1px solid #fff !important;
}

.daterangepicker .calendar-table {
    background: rgba(0, 9, 36, 0.8) !important;
}

.daterangepicker td.off, .daterangepicker td.off.in-range, .daterangepicker td.off.start-date, .daterangepicker td.off.end-date {
    background: none !important;
}

.daterangepicker td.active, .daterangepicker td.active:hover {
    background-color: rgba(0, 64, 161, 0.3) !important;
    border-color: rgba(0, 64, 161, 0.3) !important;
    color: #fff !important;
}

.daterangepicker td.available:hover, .daterangepicker th.available:hover {
    background: rgba(0, 64, 161, 0.8) !important;
}

.daterangepicker td.start-date {
    border-radius: 20px 0 0 20px !important;
}

.daterangepicker td.in-range {
    background: rgba(0, 64, 161, 0.3) !important;
    border-radius: 0 !important;
}

.daterangepicker td.end-date {
    border-radius: 0 15px 15px 0 !important;
}

.daterangepicker td.start-date {
    border-radius: 15px 0 0 15px !important;
}

.daterangepicker td, .daterangepicker th {
    border-radius: 20px !important;
}

.btn-success {
    color: #18396b !important;
    background-color: #8cc63f !important;
    border-color: #fff !important;
}

.btn-success:hover {
    color: #18396b !important;
    background-color: #fff !important;
    border-color: #fff !important;
}

.cancelBtn {
    width: auto !important;
}

/*Datepicker end*/

/*POPUP CUSTOMIZATION*/
.popup-tree {
    display: none;
    position: absolute;
    height: 34px;
    background: rgba(0, 0, 0, 0.25);
    padding: 7px 15px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.popup-tree:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    background: url("../assets/img/img-angle-before.svg");
    height: 34px;
    width: 5px;
}

.popup-tree:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    background: url("../assets/img/img-angle-after.svg");
    height: 34px;
    width: 5px;
}

/*Canvas*/

.canvas-conf {
    display: block;
    /*width: 100%;*/
    /*height: 100%;*/
    margin-left: 110px;
    margin-right: 302px;
    transition: linear 0.25s;
}

.canvas-l-active {
    margin-left: 50px;
}

.tab-content {
    height: 85%;
    overflow: auto;
    padding: 15px;
}

.taber {
    overflow-y: auto;
    height: 85% !important;;
    margin-top: 25px;
    padding-right: 10px;
}

.right-nav .nav {
    margin-top: 50px;
}

.right-nav .nav-tabs {
    border-bottom: none;
}

.right-nav .nav-tabs > li {
    width: 50%;
}

.right-nav .nav-tabs > li > a {
    text-align: center;
    color: #fff;
    text-decoration: underline;
    margin-right: 0;
    line-height: 1.42857143;
    background-color: #0a2341;
    border: none;
    border-radius: 4px 4px 0 0;
}

.right-nav .nav-tabs > li.active > a, .right-nav .nav-tabs > li.active > a:focus, .right-nav .nav-tabs > li.active > a:hover {
    color: #fff;
    text-decoration: none;
    cursor: default;
    background-color: #001937;
    border: none;
    border-top: 4px solid #c1272d;
    border-bottom-color: transparent;
}

.right-nav .nav-tabs > li.active > a, .right-nav .nav-tabs > li.active > a:focus, .right-nav .nav-tabs > li.active > a:hover {
    color: #fff;
    cursor: default;
    background-color: #001937;
    border: none;
    border-top: 4px solid #c1272d;
    border-bottom-color: transparent;
}

/*Activity stream*/

.stream-avatar {
    width: 45px;
}

.stream-name {
    padding-top: 10px;
    width: 150px;
    font-size: 14px;
    text-transform: none;
    font-weight: 700;
}

.stream-time {
    padding-top: 10px;
    font-size: 12px;
    opacity: 0.60;
}

.stream-text {
    width: 180px;
    border-bottom: 1px solid #142d4b;
    padding-bottom: 10px;
    text-transform: none;
    font-size: 12px;
}

.legend {
    margin-top: 15px;
    margin-bottom: 10px;
}

.co-legend {
    width: 45%;
    text-transform: none;
    display: inline-block;
    margin-bottom: 5px;
}

.co-legend-2 {
    width: 25%;
    text-transform: none;
    display: inline-block;
    margin-bottom: 5px;
}

/*Markers*/

.marker {
    display: inline-block;
    height: 7px;
    width: 7px;
    border-radius: 7px;
    border: 2px solid #001937;
    margin-right: 5px
}

.green {
    background-color: #00ff6c;
}

.yellow {
    background-color: #fcee21;
}

.blue {
    background-color: #00ffff;
}

.red {
    background-color: #c1272d;
}

/*Chart*/

.chart .issues {
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    writing-mode: tb-rl;
    position: absolute;
    top: 80px;
    left: -8px;
}

.chart .sprints {
    position: absolute;
    top: 170px;
    left: 100px;
}

.chart2 .issues {
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    writing-mode: tb-rl;
    position: absolute;
    top: 120px;
    left: -45px;
}

.chart2 .sprints {
    top: 170px;
    left: 115px;
}

.sprints a {
    color: #fff;
}

.sprints a:hover,
.sprints a:focus {
    color: #fff;
}

.chart-buttons {
    margin-top: 25px;
    text-align: center;
}

.chart-buttons a {
    display: inline-block;
    padding: 5px 5px;
    margin: 10px;
    background-color: #142d4b;
    border: 1px solid #00142d;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
}

.chart-buttons a:focus,
.chart-buttons a:hover {
    background-color: #0a2341;
    text-decoration: none;
}

/*USER PAGE*/
.user-page-text {
    margin-top: 35px;
}

.user-page-text .name {
    font-size: 24px;
    font-weight: 700;
}

.user-page-text .username {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 25px;
}

.user-page-text .text {
    font-size: 14px;
}

.user-page-canvas {
    margin-top: 40px;
    background-color: #001937;
    width: 100%;
    height: 700px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

.canvas-small {
    height: 200px;
}

.expertise-num {
    font-size: 19px;
    font-weight: 700;
}

.toggle-left {
    position: relative;
}

.toggle-left a {
    position: absolute;
    display: block;
    top: 11px;
    right: -12px;
    width: 25px;
    height: 25px;
    border-radius: 20px;
    border: 1px solid #c1272d;
    background-color: #001937;
    padding-left: 8px;
}

.icon-collapse {
    transition: all .2s;
}

.icon-collapse-right {
    transition: all .2s;
}

.icon-collapse-right-active {
    display: none;
}

.rotate180 {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.toggle-right {
    position: relative;
}

.toggle-right a {
    position: absolute;
    display: block;
    top: 11px;
    left: -12px;
    width: 25px;
    height: 25px;
    border-radius: 20px;
    border: 1px solid #c1272d;
    background-color: #001937;
    padding-top: 2px;
    padding-left: 8px;
}

.toggle-active {
    padding-top: 7px !important;
    padding-left: 10px !important;
}

.ng-isolate-scope {
    height: 100%;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.hide-icon {
    display: none;
}

.b-request-text {
    margin-top: 11px;
    background-color: #0a2341;
    border: 1px solid #00142d;
    border-radius: 2px;
    padding: 15px 15px 15px 15px;
	max-height: 160px;
	overflow-y: auto;
	text-align: left;
}

.b-request-text p {
	text-align: left;
}

.b-highlight-string {
	background-color: #383831;
}

