@import url(https://fonts.googleapis.com/css?family=Lato:400,700,700italic,400italic);

/*-GENERAL-*/

html, body
{
    background: url("../assets/img/img-background-login-page.png") no-repeat #00091c;
    background-size: cover;
    color: #fff;
    font-family: 'Lato', sans-serif;
}

.vcenter
{
    margin-top: 10%;
}

.fixed-size
{
    width: 400px;
}

.logo
{
    background: url("../assets/img/img-logo-login-page.png") no-repeat;
    background-size: cover;
    width: 100%;
    height: 41px;
    margin-left: auto;
    margin-right: auto;
}

.welcome
{
    margin-top: 2%;
    font-size: 17px;
}

.form
{
    margin-top: 20%;
}

.form .form-control
{
    border-radius: 2px !important;
}

.login
{
    margin-top: 30px;
}

.signup
{
    margin-top: 10px;
}

.form .btn
{
    width: 30%;
}

.form .btn-default
{
    color: #fff;
    background-color: #001937;
    border-radius: 2px;
    border: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}

.form .btn-default:hover
{
    background-color: #142d4b;
}

.form .form-control
{
    border-radius: 0;
}

.btn-signup
{
    background-color: #0a2341 !important;
}
