<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-lazy-init="true">

  <bean id="adminInterceptor" class="org.safehaus.webapp.interceptor.UserRoleAuthorizationInterceptor">
    <property name="authorizedRoles" value="ROLE_ADMIN" />
  </bean>

  <bean id="accessDeniedInterceptor" class="org.safehaus.webapp.interceptor.AccessDeniedInterceptor" />

  <bean id="signupAction" class="org.safehaus.webapp.action.SignupAction" scope="prototype">
    <property name="userManager" ref="userManager" />
    <property name="roleManager" ref="roleManager" />
    <property name="mailEngine" ref="mailEngine" />
    <property name="mailMessage" ref="mailMessage" />
    <property name="templateName" value="accountCreated.vm" />
  </bean>

  <bean id="userAction" class="org.safehaus.webapp.action.UserAction" scope="prototype">
    <property name="userManager" ref="userManager" />
    <property name="roleManager" ref="roleManager" />
    <property name="mailEngine" ref="mailEngine" />
    <property name="mailMessage" ref="mailMessage" />
    <property name="templateName" value="accountCreated.vm" />
  </bean>

  <bean id="jiraAction" class="org.safehaus.webapp.action.JiraAction" scope="prototype">
    <property name="jiraManager" ref="jiraManager" />
    <property name="jiraUrl" value="${jira.url}" />
    <property name="securityCookieName" value="${security.cookieName}" />
  </bean>

  <bean id="stashAction" class="org.safehaus.webapp.action.StashAction" scope="prototype">
    <property name="stashManager" ref="stashManager" />
    <property name="securityCookieName" value="${security.cookieName}" />
  </bean>
  
  <bean id="confluenceAction" class="org.safehaus.webapp.action.ConfluenceAction" scope="prototype">
    <property name="securityCookieName" value="${security.cookieName}" />
  </bean>

  <bean id="sonarAction" class="org.safehaus.webapp.action.SonarAction" scope="prototype">
    <property name="sonarManager" ref="sonarManager" />
    <property name="securityCookieName" value="${security.cookieName}" />
  </bean>

  <bean id="sessionAction" class="org.safehaus.webapp.action.SessionAction" scope="prototype">
    <property name="sessionManager" ref="sessionManager" />
  </bean>

  <bean id="passwordHintAction" class="org.safehaus.webapp.action.PasswordHintAction" scope="prototype">
    <property name="userManager" ref="userManager" />
    <property name="mailEngine" ref="mailEngine" />
    <property name="mailMessage" ref="mailMessage" />
  </bean>
</beans>
